.header {
}

.header__wrap {
  background-color: $yellow;
}

.header__top {
  display: flex;
  justify-content: space-between;
}

.header__logo {
}

.header__adress {
  margin: 0;
  padding: 0;
  width: 200px;
  height: 71px;

  @include basic-font-medium;
  @include text-size(14px, 16px, $grey);
  text-align: center;
}

.header__conacts {
}

.header__email {
  @include basic-font-bold;
  @include text-size(18px, 21px, $grey);
}

.header__operating-mode {
  margin: 0;
  padding: 0;
  width: 126px;
  height: 42px;

  @include basic-font-medium;
  @include text-size(16px, 18px, $grey);
}

.header__phone {
  display: flex;
  flex-direction: column;
}

.phone {
}

.phone__item {
  @include basic-font-bold;
  @include text-size(26px, 30px, $grey);
  text-decoration: none;
}

.header__phone-top {
}

.header__phone-bottom {
}

.header__main {
}

.header__title {
  @include basic-font-medium;
  @include text-size(40px, 46px, $grey);
}

.header__img {
}

.header__img-truck {
}

.header__img-volvo {
}

.header__img-rvi {
}

.header__img-man {
}

.exspress__delivery {
  @include basic-font-bold;
  @include text-size(24px, 28px, $red);
  text-transform: uppercase;
}

.exspress__delivery-text {
}