.logo-manufacturer {
}

.truck {
}

.truck__title {
  @include h2;
}

.truck__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.truck__item {
}

.truck__item-rvi {
}

.truck__item-volvo {
}

.truck__item-scania {
}

.truck__item-man {
}

.truck__item-daf {
}

.truck__item-mb {
}

.trailer {
}

.trailer__title {
  @include h2;
}

.trailer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.trailer__item {
}

.trailer__item-schmitz {
}

.trailer__item-ror {
}

.trailer__item-kogel {
}

.trailer__item-bpw {
}

.trailer__item-krone {
}

.trailer__item-kassbohrer {
}

.trailer__item-saf {
}

.oil {
}

.oil__title {
  @include h2;
}

.oil__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.oil__item {
}

.oil__item-mobil {
}

.oil__item-chevron {
}

.oil__item-total {
}

.oil__item-shell {
}

.oil__item-volvo {
}

.oil__item-rolf {
}

.oil__item-daf {
}