@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/ubuntu-light.woff2") format("woff2"),
    url("../fonts/ubuntu-light.woff") format("woff");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/ubuntu-medium.woff2") format("woff2"),
    url("../fonts/ubuntu-medium.woff") format("woff");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ubuntu-bold.woff2") format("woff2"),
    url("../fonts/ubuntu-bold.woff") format("woff");
}