@mixin basic-font-normal {
  font: {
    family: "Ubuntu", "Arial", sans-serif;
    weight: 300;
  }
}

@mixin basic-font-medium {
  font: {
    family: "Ubuntu", "Arial", sans-serif;
    weight: 500;
  }
}

@mixin basic-font-bold {
  font: {
    family: "Ubuntu", "Arial", sans-serif;
    weight: 700;
  }
}

@mixin text-size($size, $height, $color) {
  font-size: $size;
  line-height: $height;
  color: $color;
}

@mixin h2 {
  @include basic-font-medium;
  font-size: 18px;
  line-height: 21px;
  color: $basic-black;
  text-transform: uppercase;
}
